.button-color {
  color: black;
}

.button-position {
  justify-content: flex-end;
}

.centerList {
  background-color: rgb(227, 222, 222);
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
}
