.centerList {
  background-color: white;
  width: 75%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
}

.centerItem {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.buttonStyle {
  margin: 2px;
}
