.centerItem {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.centerContainer {
  background-color: white;
  width: 60%;
  margin: 20px auto;
}

.propertyImage {
  height: 600px;

  width: 200px;

  object-fit: cover;
}

.buttonStyle {
  margin: 2px;
}
