.imgProp {
  height: 720px;

  width: 900px;

  object-fit: cover;

  margin: 10px;
}

.text {
  margin: auto;
  text-align: center;
  max-width: 80%;
}

.position {
  margin: 10px;
  border: 2px solid black;
  width: 50%;
  height: auto;
}
